<div class="p-4 space-y-4">
      <ul class="grid grid-cols-4 gap-4">
            <li class="p-6 bg-[#F9F9F9] rounded-md flex items-center gap-6">
                  <svg-icon src="assets/icons/dashboard/category.svg"></svg-icon>
                  <span class="text">
                        <h3 class="text-2xl font-semibold ">1020</h3>
                        <p>Categories</p>
                  </span>
            </li>
            <li class="p-6 bg-[#F9F9F9] rounded-md flex items-center gap-6">
                  <svg-icon src="assets/icons/dashboard/source.svg"></svg-icon>
                  <span class="text">
                        <h3 class="text-2xl font-semibold ">2834</h3>
                        <p>Supplier</p>
                  </span>
            </li>
            <li class="p-6 bg-[#F9F9F9] rounded-md flex items-center gap-6">
                  <svg-icon src="assets/icons/dashboard/warehouse.svg"></svg-icon>
                  <span class="text">
                        <h3 class="text-2xl font-semibold ">2543</h3>
                        <p>Warehouse</p>
                  </span>
            </li>
            <li class="p-6 bg-[#F9F9F9] rounded-md flex items-center gap-6">
                  <svg-icon src="assets/icons/dashboard/product.svg"></svg-icon>
                  <span class="text">
                        <h3 class="text-2xl font-semibold ">164</h3>
                        <p>Product</p>
                  </span>
            </li>
      </ul>
</div>