<input id="switch" [formControl]="toggle" (ngModelChange)="handleToggleChange()" type="checkbox">
<div class="content">
      <label for="switch">
            <div class="toggle"></div>
            <div class="names">
                  <div class="flex gap-1 items-center">
                        <img src="assets/icons/card.svg" alt="Grid Icon">
                        <p>Grid</p>
                  </div>
                  <div class="flex gap-1 items-center">
                        <img src="assets/icons/list.svg" alt="List Icon">
                        <p>List</p>
                  </div>
            </div>
      </label>
</div>