<page-header [title]="'Create Purchase Order'" [description]="'Create a new purchase order with supplier and product line items'" [pageKey]="'inventory.purchase-order.create'" [showBackButton]="false" [extraTemplate]="headerActions"> </page-header>

<ng-template #headerActions>
    <button nz-button nzType="default" (click)="goBack()">
        <nz-icon nzType="left" nzTheme="outline"></nz-icon>
        Back
    </button>
</ng-template>

<nz-divider class="my-0"></nz-divider>
<app-purchase-order-form (actions)="onFormActions($event)" [buttonLoading]="buttonLoading()"></app-purchase-order-form>
