<!-- Page Header with breadcrumbs, title, actions, and filters -->
<page-header [title]="'Add Sub Category'"
      [description]="'Create a new product sub-category to organize your products effectively. Fill in the necessary details and save to add the sub-category.'"
      [pageKey]="'configuration.sub-category.create'" [showBackButton]="false" [extraTemplate]="headerActions">
</page-header>

<!-- Template for header actions (buttons) -->
<ng-template #headerActions>
      <button nz-button nzType="default" (click)="goBack()">
            <nz-icon nzType="left" nzTheme="outline" />
            Back
      </button>
</ng-template>

<!-- Content Section -->
<nz-divider class="my-0"></nz-divider>
<sub-category-form [buttonLoading]="buttonLoading()" (actions)="onFormActions($event)"></sub-category-form>