<page-header [title]="'Orders'" [description]="'View and manage all orders and sales in your system'" [pageKey]="'sales.orders.list'" [showBackButton]="false" [extraTemplate]="headerActions" [contentTemplate]="headerFilters"></page-header>

<ng-template #headerActions>
    <div class="flex gap-2">
        @if (showPos) {
        <button nz-button nzType="default" (click)="goToPos()">
            <nz-icon nzType="shopping-cart"></nz-icon>
            POS Sale
        </button>
        }
        @if (showOnline) {
        <button nz-button nzType="primary" (click)="goToOnline()">
            <nz-icon nzType="plus"></nz-icon>
            New Order
        </button>
        }
    </div>
</ng-template>

<ng-template #headerFilters>
    <nz-divider class="mt-0 mb-4"></nz-divider>
    <div class="flex flex-col md:flex-row gap-3">
        <nz-input-group [nzPrefix]="prefixSearch" class="w-full md:w-80">
            <input type="text" nz-input placeholder="Search order or customer..." [formControl]="searchControl" />
        </nz-input-group>
        <ng-template #prefixSearch><span nz-icon nzType="search"></span></ng-template>

        @if (showChannelFilter) {
        <nz-select class="w-full md:w-44" [(ngModel)]="payload.channel" (ngModelChange)="onFilterChange()">
            @for (opt of channelOptions; track opt.value) {
            <nz-option [nzValue]="opt.value" [nzLabel]="opt.label"></nz-option>
            }
        </nz-select>
        }

        <nz-select class="w-full md:w-52" [(ngModel)]="payload.status" (ngModelChange)="onFilterChange()">
            @for (opt of statusOptions; track opt.value) {
            <nz-option [nzValue]="opt.value" [nzLabel]="opt.label"></nz-option>
            }
        </nz-select>
    </div>
</ng-template>

@if (pageLoading) {
<div class="flex justify-center items-center py-20">
    <app-loader [isVisible]="true"></app-loader>
</div>
} @else {
<nz-divider class="my-0"></nz-divider>
<div class="p-4">
    <adaptive-list [dataSource]="data" [tableConfig]="orderTableConfig" [loading]="tableLoading" [totalCount]="totalCount" [pageSize]="payload.limit" [pageIndex]="payload.offset / payload.limit" (actionEvent)="handleListActions($event)" (paginationChange)="handlePaginationEvent($event)"></adaptive-list>
</div>
}
