<div class="p-4">
    <form nz-form [formGroup]="form" [nzLayout]="'vertical'" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 md:gap-x-6 md:grid-cols-2 lg:grid-cols-3">
            <!-- Name -->
            <nz-form-item>
                <nz-form-label [nzRequired]="hasRequiredValidator('name')">Aisle/Zone Name</nz-form-label>
                <nz-form-control nzErrorTip="Aisle/Zone name is required.">
                    <input formControlName="name" nz-input placeholder="Enter Aisle/Zone Name" />
                </nz-form-control>
            </nz-form-item>
            <!-- Code -->
            <nz-form-item>
                <nz-form-label [nzRequired]="hasRequiredValidator('code')">Code</nz-form-label>
                <nz-form-control nzErrorTip="Code is required.">
                    <input formControlName="code" nz-input placeholder="Enter Code" />
                </nz-form-control>
            </nz-form-item>
            <!-- Warehouse -->
            <nz-form-item>
                <nz-form-label [nzRequired]="hasRequiredValidator('warehouse_oid')">Warehouse</nz-form-label>
                <nz-form-control nzErrorTip="Warehouse is required.">
                    <nz-select class="w-full" formControlName="warehouse_oid" nz-input nzAllowClear nzPlaceHolder="Select Warehouse">
                        @for (item of warehouseList; track item.value) {
                            <nz-option [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <!-- Capacity -->
            <nz-form-item>
                <nz-form-label [nzRequired]="hasRequiredValidator('capacity')">Capacity</nz-form-label>
                <nz-form-control nzErrorTip="Capacity is required.">
                    <input formControlName="capacity" nz-input placeholder="Enter Capacity" />
                </nz-form-control>
            </nz-form-item>
            <!-- Type of Storage -->
            <nz-form-item>
                <nz-form-label [nzRequired]="hasRequiredValidator('type_of_storage')">Type Of Storage</nz-form-label>
                <nz-form-control nzErrorTip="Type of storage is required.">
                    <nz-select class="w-full" formControlName="type_of_storage" nz-input nzAllowClear nzPlaceHolder="Select Type Of Storage">
                        @for (item of storageTypes; track item.value) {
                            <nz-option [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <!-- Status -->
            <nz-form-item>
                <nz-form-label [nzRequired]="hasRequiredValidator('status')">Status</nz-form-label>
                <nz-form-control nzErrorTip="Status is required.">
                    <nz-select class="w-full" formControlName="status" nz-input nzAllowClear nzPlaceHolder="Select Status">
                        <nz-option nzLabel="Active" nzValue="Active"></nz-option>
                        <nz-option nzLabel="Inactive" nzValue="Inactive"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <!-- Special Notes -->
            <nz-form-item class="md:col-span-2 lg:col-span-3">
                <nz-form-label [nzRequired]="hasRequiredValidator('special_notes')">Special Notes</nz-form-label>
                <nz-form-control nzErrorTip="Special notes is required.">
                    <textarea rows="2" formControlName="special_notes" nz-input placeholder="Special Note (if any)" cdkTextareaAutosize></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
        <nz-divider class="my-0"></nz-divider>
        <div class="mt-4 flex justify-end items-center">
            <div class="flex items-center gap-4">
                @let isEditMode = mode() === 'edit';
                @if (!isEditMode) {
                    <button nz-button type="button" nzType="default" (click)="resetForm()">
                        <nz-icon nzType="undo" nzTheme="outline" />
                        Reset
                    </button>
                } @else {
                    <button nz-button type="button" nzType="default" (click)="onCancel()">
                        <nz-icon nzType="undo" nzTheme="outline" />
                        Cancel
                    </button>
                }
                <button nz-button type="submit" nzType="primary" [nzLoading]="buttonLoading()">
                    <nz-icon nzType="save" nzTheme="outline" />
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>
