.login_banner {
  background-image: url("/assets/images/landing_sidebar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* @media (min-width: 768px) {
  .login_banner {
    background-image: url("/assets/images/login_bg_lg.svg");
  }
} */

@media (max-width: 768px) {
  .login_sm_banner {
    background-image: url("/assets/images/landing_sidebar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.is__invalid-input {
  border-color: #e11d48;
}

.is__invalid-error {
  color: #e11d48;
  @apply px-1 text-sm;
}
