<!-- Page Header with breadcrumbs, title, actions, and filters -->
<page-header [title]="'Register New Warehouse'" [description]="'Register a new warehouse to manage your inventory'" [pageKey]="'configuration.warehouse.create'" [showBackButton]="false" [extraTemplate]="headerActions"> </page-header>

<!-- Template for header actions (buttons) -->
<ng-template #headerActions>
    <button nz-button nzType="default" (click)="goBack()">
        <nz-icon nzType="left" nzTheme="outline" />
        Back
    </button>
</ng-template>

<!-- Content Section -->
<nz-divider class="my-0"></nz-divider>
<warehouse-form [buttonLoading]="buttonLoading()" (actions)="onFormActions($event)"></warehouse-form>
