<!-- Page Header with breadcrumbs, title, actions, and filters -->
<page-header [title]="'Register New Aisle'" [description]="'Register a new aisle to organize your products'" [pageKey]="'configuration.aisle.create'" [showBackButton]="false" [extraTemplate]="headerActions"> </page-header>

<!-- Template for header actions (buttons) -->
<ng-template #headerActions>
    <button nz-button nzType="default" (click)="goBack()">
        <nz-icon nzType="left" nzTheme="outline" />
        Back
    </button>
</ng-template>

<!-- Content Section -->
<nz-divider class="my-0"></nz-divider>
<app-aisle-form [buttonLoading]="buttonLoading()" (actions)="onFormActions($event)"></app-aisle-form>
