@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-tenor text-sm;
}

@layer utilities {
  .stockflow-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .stockflow-scrollbar::-webkit-scrollbar-thumb {
    background-color: #594ed1;
    border-radius: 6px;
  }

  .stockflow-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(78, 104, 144);
  }

  .stockflow-scrollbar::-webkit-scrollbar-track {
    background-color: #9a91f9;
  }
}
